<% include ./partial/header %>

<div id="scrollspy1">
  <div
    class="jumbotron"
    style="background-color: transparent;
    padding-top: 8em;
    background-position: center;
    position: relative;
    text-align: center;
    "
  >
    <div class="contact" style="color: white;">
      <h1 style=" font-weight: bold; color: white; font-size: 70px; margin-left: 15vw;">
        Student Leave Management
      </h1>
      <img style="position:absolute;
      right: 30vw;
      " width="500px" height="auto" src="https://i.imgur.com/SbA7KqQ_d.webp?maxwidth=1520&fidelity=grand">
    </div>
  </div>
</div>
<% include ./partial/footer %>
