<% include ./partial/header %>
<% include ./partial/wardenfunction%>
<div class="col-sm-6" style=" 
    flex: 0 0 50%;
max-width: 60%;
margin-left: 38vw;
margin-top: 181px;
text-align: -webkit-left;
color: white;
    ">
      <div class="thumbnail">
        <h1 style="width: max-content;"><strong>Prof. </strong> <%=warden.name%></h1>
        <img style="height:200px;width:200px;border-radius: 100%; margin-left: 5vw;" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" />
      </div>
    </div>

    <% include ./partial/footer %>
  </div>
</div>