<% include ./partial/header %> <% include ./partial/studfunction %>

<div
  class="col-sm-6"
  style="    flex: 0 0 50%;
max-width: 50%;
margin-left: 431px;
margin-top: 181px;  text-align: -webkit-center;"
>
  <h1>Apply for leave</h1>
  <form action="/student/<%=student._id%>/apply" method="POST">
    <div class="form-group">
      <input
        type="text"
        placeholder="Reason"
        name="leave[subject]"
        class="form-control"
      />
    </div>
    <div style="margin-right: 25px;" class="form-group">
      <label style="color: white;" for="from">From:</label>
      <input
        type="date"
        data-date-inline-picker="true"
        id="from"
        name="leave[from]"
      />
    </div>
    <div class="form-group">
      <label style="color: white;" for="to">To:</label>
      <input
        type="date"
        data-date-inline-picker="true"
        id="to"
        name="leave[to]"
      />
    </div>

    <div class="form-group">
      <button style="background-color: #fff; color:#000" class="btn">Submit</button>
    </div>
  </form>

  <% include ./partial/footer %>
</div>
